// components
@import "../components/components.less";
// contents
@import "../content/About.less";
@import "../content/identity/IdentityDetail.less";

// Fixed a wrong spacing 
.makeStyles-error-44 {
    margin-right: 11px;
}

//Horizontal Scroll bar in a stack trace inserted into the text area
div.customTextAre.form-group{
        textarea {   
               overflow-x: auto;
               white-space: nowrap;
         }
        }
div.customTextAreNot.form-group {
    texarea{
        white-space: normal;
    }
}

// Scroll bar on mobile version
.makeStyles-sidebar-14.sidebar{
    overflow-y: auto;
}

//Overlay of main navigation
@media (min-width: 600px){
.MuiToolbar-regular {
    min-height: 64px;
    margin-right: 20px;
}}
//Wide of columns in role and description and priority
.descriptionColumn{
    max-width: 400px;
    min-width: 300px;
  }
  .MuiOutlinedInput-inputMarginDense{
    max-width: fit-content;
    min-width: 100px;
  }

  .advanced-tree {
    max-width: fit-content;
    min-width: max-content;
  }
.tree-node-row {
    max-width: 300px;
    .spanRole{
        white-space:normal;
        display:inline-block;
     }
    span > .entity-info{
        color:#f50057;
    }
  }
 