// components
@import "../components/components.less";
// contents
@import "../content/About.less";
@import "../content/identity/IdentityDetail.less";


// Fixed a wrong spacing 
.makeStyles-error-44 {
    margin-right: 11px;
}

//Horizontal Scroll bar in a stack trace inserted int the text area
div.customTextAre.form-group{
        textarea {   
               overflow-x: auto;
               white-space: nowrap;
         }
        }
div.customTextAreNot.form-group {
    texarea{
        white-space: normal;
    }
}

// Scroll bar on mobile version
.makeStyles-sidebar-14.sidebar{
    overflow-y: auto;
}
