.form-group {
  .basic-form-component {
     textarea {
       resize: vertical;
       background-color: transparent;
     }
  }
}

.eav-form {
  .form-group {
    textarea {
      resize: vertical;
      background-color: transparent;
    }
  }

  &.condensed {
    .form-group {
      textarea {
        resize: vertical;
        background-color: transparent;
      }
    }
  }
}
  

// .form-group {
//   &.customTextArea {
//     .basic-form-component {
//       textarea {
//         overflow-x: auto;
//         white-space: nowrap;
//       }
//     }
//   }
// }

  
    
    
  



// textarea{
// &.customTextArea {
     
//       overflow-x: auto;
//       white-space:nowrap;
    
// }}
// .customTextArea{
//   white-space: nowrap;
//   overflow-x: auto;
//   background-color: blue;
// }